<section class="masthead">
  <nav class="language-nav">
    <ul>
      <li>
        <a href="#">CSS</a>
      </li>
      <li>
        <a href="#">Javascript</a>
      </li>
      <li>
        <a href="#">ruby</a>
      </li>
      <li>
        <a href="#">html</a>
      </li>
    </ul>
  </nav>

<img src="assets/AA_Times_Logo.png" alt="" class="logo">

<ul class="masthead-links">
  <li>
    <a href="#">69°F</a>
  </li>
  <li>
    <a href="#">AAO +100%</a>
  </li>
  <li>
    Tuesday, July 4th, 2017
  </li>
  <li>
    <button type="button" name="button">Today’s Paper</button>
  </li>
  <li>
    <button type="button" name="button">Video</button>
  </li>





</ul>
</section>
